<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="local" default="false"/>
	<group unless="$(arg local)">
		<!-- multimaster_fkie -->
		<node name="$(anon master_discovery)" pkg="master_discovery_fkie" type="master_discovery" output="log">
			<rosparam param="robot_hosts">[donny,mikey,leo,raph,raph2,tams122,tams192,tams193,tams194,tams195,tams196,tams197,tams198,tams199]</rosparam>
		</node>
		<node name="$(anon master_sync)" pkg="master_sync_fkie" type="master_sync"
			args="_ignore_topics:=['']
			_ignore_services:=['']
			_sync_topics:=['/rpc_game/alive, /rpc_game/gamestate']
			_sync_services:=['/rpc_score_master']"
			output="log"
			/>
	</group>
	<node pkg="rpc_game_client" name="$(anon game_client)" type="game_client.py" output="screen" />
</launch>
