<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<arg name="local" default="false"/>
	<group unless="$(arg local)">
		<!-- multimaster_fkie -->
		<node name="$(anon master_discovery)" pkg="fkie_master_discovery" master="type_discovery" output="log">
			<rosparam param="robot_hosts">[donny,mikey,leo,raph,tams194]</rosparam>
		</node>
		<node name="$(anon master_sync)" pkg="fkie_master_sync" type="master_sync">
			<rosparam param="sync_services">['/rpc_score_master']</rosparam>
<rosparam param="sync_topics">
- /rpc_game/alive
- /rpc_game/gamestate
- /rpc_game/submissions
</rosparam>
		</node>
	</group>

	<node pkg="rpc_game_client" name="$(anon game_client)" type="game_client.py" output="screen" />
</launch>
